# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Project Custom files/folders to ignore
zap2xml/cache/*.js.gz
zap2xml/bak/*.xml
zap2xml/*.xml
*.log

# Pycharm
.idea/

# Python notebooks
.ipynb_checkpoints/

# Venv
.venv/
venv/

