/*
 * The General Elements Below Set the Default Font Family
 */
span, div, th, td, font, h1, h2, h3, h4, p, body, small, input
{
    font-family: Tahoma, Arial, MS Sans Serif;
}

body
{
    font-size: 9pt;
}

/*
 * If a program falls into more than one category, the
 * last style it sees will be the one applied.
 */
.drama, .comed, .actio, .suspe, .scien, .fanta, .docud
{
    background-color: #FFA07A; /* lightsalmon */
}
.talk, .paid, .relig, .shopp, .commu, .compu
{
    background-color: #FFE4C4; /* bisque */
}
.sitco, .serie
{
    background-color: #ADD8E6; /* lightblue */
}
.sport, .water
{
    background-color: #FFA500; /* orange */
}
.news, .speci, .inter, .newsm, .publi, .docum
{
    background-color: #F0E68C; /* khaki */
}
.child, .anima, .educa
{
    background-color: #DDA0DD;  /* plum */
}
.reali
{
    background-color: #20B2AA; /* lightseagreen */
}
.cooki, .how-t, .home, .garde
{
    background-color: #7FFFD4; /* aquamarine */
}
.mv
{
    background-color:#FF6347; /* tomato */
}
.child_hidden
{
    background-color: #fff
}
.empty_category
{
    background-color: #fff
}
.unknown
{
    background-color: #f00
}

